<!doctype html>
<html ng-app>
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <title>Hands on AngularJS</title>

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link type="text/css" media="screen" href="source/css/reveal.min.css" rel="stylesheet" />
<link type="text/css" media="screen" href="source/css/theme/default.css" rel="stylesheet" />
<link type="text/css" media="screen" href="source/css/shame.css" rel="stylesheet" />

  <!-- If the query includes 'print-pdf', use the PDF print sheet -->
  <script>
    document.write( '<link rel="stylesheet" href="source/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
  </script>

  <!--[if lt IE 9]>
    <script src="source/lib/js/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
  <div class="reveal">
    <div class="slides">
      <section>
  <h1>Hands on AngularJS</h1>
  <h3> by
    <a href="https://twitter.com/roobijn" target="_blank">@roobijn</a>
    and
    <a href="https://twitter.com/sascha_brink" target="_blank">@sascha_brink</a>
  </h3>

  <aside class="notes">
    Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
  </aside>
</section>

<section>
  <h2>Agenda</h2>
  <ul>
    <li>About Us</li>
    <li>Quickstart</li>
    <li>About Angular</li>
    <li>Hands on</li>
    <li>Overview</li>
  </ul>
</section>

<section>
  <h2>About us</h2>

  <div class="left">
    <img src="source/images/robin_boehm.png" class="circle"/>
    <p>
      <strong>Robin Böhm</strong>
      <p><a href="https://twitter.com/roobijn" target="_blank">@roobijn</a></p>
    </p>
    <ul>
      <li>software engineer</li>
      <li>consultant</li>
      <li>author at
        <a href="https://twitter.com/dpunkt_verlag" target="_blank">@dpunkt_verlag</a>
      </li>
    </ul>
  </div>

  <div class="right">
    <img src="source/images/sascha_brink.jpeg" class="circle"/>
    <p>
      <strong>Sascha Brink</strong>
      <p><a href="https://twitter.com/sascha_brink" target="_blank">@sascha_brink</a></p>
    </p>
    <ul>
      <li>software engineer</li>
      <li>consultant</li>
    </ul>
  </div>

  <div class="clear"></div>
</section>

<section>
  <h2>Trend comparison</h2>
  <img src="source/images/trend-comparison.png"/>
  <p><a href="http://www.google.de/trends/explore#q=angularjs%20%2B%20angular.js%2C%20emberjs%20%2B%20ember.js%2C%20backbonejs%20%2B%20backbone.js%2C%20knockoutjs%20%2B%20knockout.jsr&cmpt=q" target="_blank">Google Trends</a></p>
</section>

<section>
  <h2>Quick-Start</h2>

  <div style="margin-bottom:60px">How many of you ... AngularJS</div>

  <div class="left">
    <div class="left">
      <input type="number" ng-model="used">
      <span style="vertical-align: middle;">already use</span>
    </div>
    <div class="clear"></div>

    <div class="left">
      <input ng-model="know" type="number">
      <span style="vertical-align: middle;">know</span>
    </div>
    <div class="clear"></div>

    <div class="left">
      <input ng-model="never_heard" type="number">
      <span style="vertical-align: middle;">never heard about</span>
    </div>
  </div>

  <div class="right">
    <div class="poll poll1" style="height: {{used / (used + know + never_heard) * 5}}em;">
      <span ng-show="used">{{used}}</span>
    </div>
    <div class="poll poll2" style="height: {{know / (used + know + never_heard) * 5}}em;">
      <span ng-show="know">{{know}}</span>
    </div>
    <div class="poll poll3" style="height: {{never_heard / (used + know + never_heard) * 5}}em;">
      <span ng-show="never_heard">{{never_heard}}</span>
    </div>
  </div>

  <div class="clear"></div>

  <div class="left">
    <br>
    <p ng-show="used + know + never_heard">Sum: {{used + know + never_heard}}</p>
  </div>
</section>


<section>
  <h2>Simple</h2>

  <pre>
    <code>
  &lt;input ng-model="used"&gt;
  &lt;input ng-model="know"&gt;
  &lt;input ng-model="never_heard"&gt;

  Sum: {{used + know + never_heard}&shy;}

  &lt;div class="poll poll1"
       style="height: {{used / (used + know + never_heard) * 5}&shy;}em;"&gt;
  &lt;/div&gt;
    </code>
   </pre>

</section>
<section>
  <h2>About Angularjs</h2>
  <ul>
    <li>JS framework</li>
    <li>Single Page Application</li>
    <li>by Google</li>
    <li>Open source</li>
    <li>MVC/MVW</li>
    <li>Testing</li>
    <li>Opinionated</li>
  </ul>
</section>
<section>
  <h2>The Father</h2>
    <p>2009</p>
    <img src="source/images/misko_hevery.jpg" class="circle"/>
    <p><strong>Miško Hevery</strong></p>
    <img src="source/images/angularjs-logo-2009.png"/>
    <li>For web developers</li>
    <li>Google 20% project</li>
</section>

<section>
  <h2>Beginnings</h2>
  <img src="source/images/google-feedback.png"/>
</section>

<section>
  <h2>Principles</h2>
  <img src="source/images/principles.png"/>
</section>


<section>
  <h2>Directives</h2>

  <ul>
    <li>Extend HTML</li>
    <li>Tags and attributes</li>
  </ul>
</section>

<section>
  <h2>Directive examples</h2>
  <img src="source/images/directives.png"/>
</section>

<section>
  <h2>Hands on!</h2>
</section>

<section>
  <h2>Overview</h2>
  <img src="source/images/overview.svg"/>
</section>

<section>
  <h2>About us - Angularjs.de</h2>

  <div class="left">
    <a href="http://angularjs.de" target="_blank">
      <img src="source/images/angularjsde-logo.png"/>
    </a>
  </div>

  <div class="right">
    <div class="person left">
      <div>Sascha</div><div>Brink</div>
      <img src="source/images/sascha_brink.jpeg" class="circle"/>
      <div><a href="https://twitter.com/sascha_brink">@sascha_brink</a></div>
    </div>

    <div class="person  left">
      <div>Philipp</div><div>Tarasiewicz</div>
      <img src="source/images/philipp_tarasiewicz.jpeg" class="circle" style="margin-left: 10px"/>
      <div><a href="https://twitter.com/justphilmusic">@justphilmusic</a></div>
    </div>

    <div class="person left">
      <div>Robin</div><div>B&ouml;hm</div>
      <img src="source/images/robin_boehm.png" class="circle"/>
      <div><a href="https://twitter.com/roobijn">@roobijn</a></div>
    </div>

  </div>
    <div class="clear"></div>
    <p></p>
    <div class="left">
    <ul>
      <li>book (work in progress)</li>
      <li>articles</li>
      <li>developer directory</li>
      <li>Twitter <a href="http://twitter.com/angularjs_de">@angularjs_de</a></li>
      <li>Google+ & Facebook <strong>AngularJS Deutschland</strong></li>
      <li><a href="http://angularjs.de" target="_blank">AngularJS.de</a></li>
    </ul>
    </div>
    <div class="clear"></div>
</section>

<section>
  <h1>Thanks!</h1>
</section>

  </div>
  </div>

  <script src="source/js/angular.min.js" type="text/javascript"></script>
<script src="source/lib/js/head.min.js" type="text/javascript"></script>
<script src="source/js/reveal.min.js" type="text/javascript"></script>

  <script>
    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
      controls: true,
      progress: true,
      history: true,
      center: true,

      theme: Reveal.getQueryHash().theme, // available themes are in source/css/theme
      transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

      // Optional libraries used to extend on reveal.js
      dependencies: [
        { src: 'classList.js', condition: function() { return !document.body.classList; } },
        { src: 'source/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: 'source/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: 'source/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
        { src: 'source/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
        { src: 'source/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        // { src: 'source/plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
        // { src: 'source/plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
      ]
    });
  </script>
</body>
</html>